<h1>Cocktails list</h1>
<div class="d-flex justify-content-center">
<%= cl_image_tag("https://res.cloudinary.com/dqckrrqjf/image/upload/c_fill,g_auto,h_250,w_970/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative,w_0.5,y_0.18/v1614348736/ttepa00vsx0vc4dvyecy.jpg",
      width: 1000, height: 300, crop: :fill) %>
</div>
<%= link_to "Add a cocktail", new_cocktail_path(@cocktail), "class" => "cocktail-link menu-action top-right" %>
<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail), "class" => "card bg-light my-3 p-2" do %>
    <div class="">
    <h3><%= cocktail.name.capitalize %></h3>
    </div>
  <% end %>
<% end %>
