<h1>Cocktails list</h1>
<%= link_to "Add a cocktail", new_cocktail_path(@cocktail), "class" => "cocktail-link" %>
<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail) do %>
    <div class="card my-3 p-2 bg-light">
    <h3><%= cocktail.name.capitalize %></h3>
    </div>
  <% end %>
<% end %>
