<div class="banner" style="background-image: url('<%= cl_image_path "https://res.cloudinary.com/dqckrrqjf/image/upload/v1614364990/cocktail-banner-2_jnbcoe.jpg", width: 1000, height: 400 %>')">
<h1>Cocktails list</h1>
<%= link_to "Add a cocktail", new_cocktail_path(@cocktail), "class" => "cocktail-link menu-action top-right" %>

</div>

<% @cocktails.each do |cocktail| %>
  <%= link_to cocktail_path(cocktail), "class" => "card bg-light my-3 p-2" do %>
    <div class="">
    <h3><%= cocktail.name.capitalize %></h3>
    </div>
  <% end %>
<% end %>
