.delete, .edit {
  color:darkblue;
  border-radius:2px;
  &:hover {
    color:#F50010;
  }
}

.cocktail-details {
  display:flex;
  justify-content:space-between;
  margin:50px 0;
}

.doses-div {
  width:50%;
}

ul {
  list-style-type: none;
  padding-inline-start:8px;
}

ul.doses {
  margin-bottom:64px;
}

li {
  display:flex;
  justify-content:space-between;
  margin:8px 0;
}

li.dose {
  background-color:white;
  border-radius:4px;
  padding:4px 8px;
}

.form-group {
  display:flex;
  justify-content: space-between;
  align-items:center;
  label {
    margin-bottom:0;
  }
  input, select {
    width:80%;
  }
}
