// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.container {
  padding-top:16px;
}

a, a:hover {
  text-decoration: none;
  padding:4px;
}

ul {
  list-style-type: none;
  padding-inline-start:8px;
  padding-inline-end: 64px;
}

ul.doses {
  margin-bottom:64px;
}

li {
  display:flex;
  justify-content:space-between;
  margin:8px 0;
}

li.dose {
  background-color:white;
  border-radius:4px;
  padding:4px 8px;
}

.relative {
  position:relative;
}

.top-right {
  position:absolute;
  top:0;
  right:0;
}

a.top-right {
  background-color:darkorange;
  color:black;
  border-radius: 4px;
  padding:8px;
  margin:16px;
  &:hover {
    font-weight: bold;
  }
}

.delete {
  color:darkblue;
  border-radius:2px;
  &:hover {
    color:#F50010;
  }
}

.form-group {
  display:flex;
  justify-content: space-between;
  align-items:center;
  label {
    margin-bottom:0;
  }
  input, select {
    width:80%;
  }
}
